<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bar Delivery</title>
   
    <link rel="stylesheet" href="style.css">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    
</head>
<body>

<header>
    <a href="#" class="logo"><img src="img/images__2_-removebg-preview.png" alt="">Bar Delivery</a>
    <div class="bx bx-menu" id="menu-icon"></div>

    <ul class="navbar">
        <li><a href="#home">Início</a></li>
        <li><a href="#ofertas">Ofertas</a></li>
        <li><a href="#shop">Nosso Bar</a></li>
        <li><a href="/carrinho">Peça agora</a></li>
        <li><a href="#customer">Clientes</a></li>
        <li><a href="#contact">Contato</a></li>
        <li><a href="/">SAIR</a></li>

    </ul>
</header>
<!-- Início -->
<section class="home" id="home">
    <div class="home-text">
        <span>Bem-vindo ao n</span>
        <h1>Bar  <br>Delivery!</h1>
        <p>O melhor bar virtual de Brasília</p>
        <a href="#" class="btn">Nossas bebidas</a>
    </div>
    <div class="home-img">
        <img src="img/cervejas-Photoroom.png" alt="">
    </div>
</section>
<!-- Sobre -->
<section class="ofertas" id="ofertas">
    <h1>Ofertas de Hoje</h1>

    <div class="ofertas-container">
        <!-- Caixa 1 -->
        <div class="ofertas-box">
            <div class="box-img">
                <img src="img/cerveja.png" alt="">
            </div>
            <h3>Cerveja Spaten</h3>
            <h2>R$ 7,99</h2>
        </div>
        <!-- Caixa 2 -->
        <div class="ofertas-box">
            <div class="box-img">
                <img src="img/whisky4.jpeg" alt="">
            </div>
            <h3>Copo de whisky</h3>
            <h2>R$ 20,00</h2>
        </div>
        <!-- Caixa 3 -->
        <div class="ofertas-box">
            <div class="box-img">
                <img src="img/nachos.jpeg" alt="">
            </div>
            <h3>Nachos</h3>
            <h2>R$ 25,00</h2>
        </div>
        <!-- Caixa 4 -->
        <div class="ofertas-box">
            <div class="box-img">
                <img src="img/batata.jpg" alt="">
            </div>
            <h3>Batata Frita</h3>
            <h2>R$ 20,00</h2>
        </div>
    </div>
</section>
<!-- Loja -->
<section class="shop" id="shop">
    <div class="heading">
        <h2>Os mais pedidos</h2>
        <p>Os principais pedidos da casa</p>
    </div>
    <div class="shop-container">
        <div class="shop-box">
            <div class="shop-img">
                <img src="img/batata.jpg" alt="">
            </div>
            <h3>Batata Frita</h3>
            <h2>R$ 20,00</h2>
            <i class='bx bxs-cart-add'></i>
        </div>

        <div class="shop-box">
            <div class="shop-img">
                <img src="img/pizza.jpeg" alt="">
            </div>
            <h3>Pizza</h3>
            <h2>R$ 40,00</h2>
            <i class='bx bxs-cart-add'></i>
        </div>

        <div class="shop-box">
            <div class="shop-img">
                <img src="img/Caipirinha (2).png" alt="">
            </div>
            <h3>Caipirinha</h3>
            <h2>R$ 15,00</h2>
            <i class='bx bxs-cart-add'></i>
        </div>

        <div class="shop-box">
            <div class="shop-img">
                <img src="img/vodka.jpg" alt="">
            </div>
            <h3>Dose de Vodka</h3>
            <h2>R$ 14,20</h2>
            <i class='bx bxs-cart-add'></i>
        </div>

        <div class="shop-box">
            <div class="shop-img">
                <img src="img/hamburguer.jpg" alt="">
            </div>
            <h3>Hambúrguer</h3>
            <h2>R$ 25,00</h2>
            <i class='bx bxs-cart-add'></i>
        </div>

        <div class="shop-box">
            <div class="shop-img">
                <img src="img/drink3.jpeg" alt="">
            </div>
            <h3>Cosmopolitan</h3>
            <h2>R$ 25,00</h2>
            <i class='bx bxs-cart-add'></i>
        </div>
    </div>
</section>
<section class="customer" id="customer">
    <div class="heading">
        <h2>Nossos Clientes</h2>
        <p>Quem já experimentou, recomenda!.</p>
    </div>
    <div class="customer-container">
        <div class="box">
            <img src="img/pedrons.jpg" alt="">
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
            <p>Eu e meus amiguos amamos!!! Não vemos a hora de voltar!.</p>
            <h2>Pedrons</h2>
        </div>

        <div class="box">
            <img src="img/rafagol.jpg" alt="">
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
            <p>Adorei! Serviço rápido e eficaz.</p>
            <h2>Rafagol</h2>
        </div>

        <div class="box">
            <img src="img/remis.jpeg" alt="">
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
            <p>Gostei Bastante!! Só não dei 5 estrelas pois os cozinheiros não sabem cozinhar de maneira PYTHONICA!!.</p>
            <h2>REMIS BALANIUK</h2>
        </div>
    </div>
</section>
<section class="contact" id="contact">
    <div class="heading">
        <h2>Contate-nos</h2>
        <p>Estamos abertos a sugestões.</p>
    </div>
    <div class="contact-container">
        <div class="contact-info">
            <h2>Entre em Contato</h2>
            <p>Faça alguma sugestão de bebida ou petisco novo.</p>
            <div class="adress">
                <i class='bx bxs-map' ><span>Unai City</span></i>
                <i class='bx bxs-phone' ><span>61 99547-9292</span></i>
                <i class='bx bxs-envelope' ><span>bardelivery@gmail.com</span></i>
            </div>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
            </div>
        </div>

        <div class="contact-form">
            <form action="">
                <input type="text" placeholder="Nome*">
                <input type="email" placeholder="Email*">
                <textarea cols="30" rows="10" placeholder="Mensagem*"></textarea>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</section>
<!-- Footer -->
<footer>
    <p>Criado por <a href="#">Artur,Bruno,Davi e Guilherme</a> | Todos os direitos reservados!</p>
</footer>
<script src="js/main.js"></script>
</body>
</html>
